@charset "ISO-8859-1";

.heading-initial {
	font-family: 'Roboto Mono', serif;
	font-size: 48px;
	padding: 10px;
	text-align: center;
}

.heading-onSearch {
	font-family: 'Roboto Mono', serif;
	font-size: 38px;
	padding: 10px;
	font-style: oblique;
}

.addpadding {
	margin: 5px !important;
}

.snippet{
	margin-left: 10px !important;
	padding: 10px !important;
}